.container {
  margin: 0 auto;
  width: 900px;
}

@media screen and (max-width: 900px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 500px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    width: 300px;
  }
}
